.wrapper {
    width: 80%;
    margin: 0 auto;
}

table{
    width: 80%;
    margin: 10px auto;
    border-collapse: collapse;
    /* border-spacing: 0; */
  }
  
  table th,table td{
    padding: 10px;
    border: 1px solid #a2aab0;
  }
  
  table th{
    background-color: #ebeced;
    white-space: nowrap;
}

input,
textarea {
    width: 80%;
    border: 1px solid #000;
    border-radius: 5px;
}

input {
    height: 25px;
}

textarea {
    height: 200px;
}

button {
    float: right;
}

label {
    display: block;
    /* これなしだとwidthが効かない */
    padding: 0.3em;
    margin-bottom: 20px;
}