.wrapper {
    width: 80%;
    margin: 0 auto;
}

table {
    margin: 0 auto;
}

input,
textarea {
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px;
}

input {
    height: 25px;
}

textarea {
    height: 300px;
}

.edit-form button {
    float: right;
}

.edit-form textarea {
    height: 300px;
}

label {
    display: block;
    /* これなしだとwidthが効かない */
    width: 140px;
    margin: 1em 0;
    padding: 0.3em;
    background: #EFEFEF;
    margin-bottom: 20px;
    text-align: left;
}

th {
    white-space: nowrap;
}