.wrapper {
    width: 90%;
    margin: 2rem auto 0;
}

table{
    width: 100%;
    margin: 10px auto;
    border-collapse: collapse;
    /* border-spacing: 0; */
  }
  
  table th,table td{
    padding: 10px;
    border: 1px solid #a2aab0;
  }
  
  table th{
    background-color: #ebeced;
    white-space: nowrap;
}

textarea {
    width: 80%;
    height: 200px;
    border: 1px solid #000;
    border-radius: 5px;
}

#title {
    width: 80%;
    height: 25px;
}

button {
    float: right;
}

label {
    display: block;
    /* これなしだとwidthが効かない */
    padding: 0.3em;
}
.publish_status {

}